/* *{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */
.all-users {
    padding: 40px 70px;
}

.users {
    width: 100%;
}

#users th,
#users td {

    padding: 10px;
}

#users tr:nth-child(even) {
    background-color: rgb(136, 125, 146);
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    background-color: rgb(101, 23, 174);
    /* padding:  px 0; */
    color: white;
}

#users .edit,
.delete {
    padding: 7px;
    cursor: pointer;
    color: white;
}

#users .edit {
    background-color: #04aa6d;
    margin-right: 5px
}

#users .delete {
    background-color: rgb(153, 2, 2);
    margin-right: 5px;
}

table {
    margin-top: 20px;
}